/* start global */
body {
  text-transform: capitalize;
  font-family: sans-serif;
  color: #999;
  padding-bottom: 100px;
}

*,
button {
  text-transform: capitalize;
}

label {
  color: #311ae3;
}

@media (max-width: 768px) {
  body {
    padding-bottom: 150px;
  }
}
/* end global */
nav.custom-navigation-bar {
  position: fixed;
  bottom: 0;
  background: #fff;
  width: 100%;
  -webkit-box-shadow: 0 -1px 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 -1px 1rem rgba(0, 0, 0, 0.2);
  padding: 1rem 0;
}
nav.custom-navigation-bar ul.links-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 100%;
  padding: 0;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav.custom-navigation-bar ul.links-list a {
  font-weight: bold;
}

button.dropdown-toggle::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
button.dropdown-toggle i {
  display: none;
}

@media (max-width: 768px) {
  nav.custom-navigation-bar ul.links-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav.custom-navigation-bar ul.links-list li {
    width: 25%;
  }
  nav.custom-navigation-bar ul.links-list a {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  nav.custom-navigation-bar ul.links-list a i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
  }
  nav.custom-navigation-bar ul.links-list a span {
    display: block;
    font-size: 0.7rem;
  }

  button.dropdown-toggle i {
    display: block;
  }
  button.dropdown-toggle span {
    display: none;
  }
  button.dropdown-toggle::after {
    display: none;
  }
}
@media (max-width: 768px) {
  nav.custom-navigation-bar ul.links-list li {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
/* start button and links style */
a {
  text-decoration: none;
}

.bg-primary {
  background-color: #311ae3 !important;
}

.btn-warning {
  background-color: #ee9e29;
  border-color: #ee9e29;
}

/* end button and links style */
/* start document page */
.document-square {
  height: 620px;
  border: 1px solid #666;
  position: relative;
}
.document-square img {
  width: 100%;
  height: 100%;
}
.document-square .zoom-icons {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #666;
  border-radius: 0.25rem 0 0 0.25rem;
  overflow: hidden;
  z-index: 1;
}
.document-square .zoom-icons i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  font-size: 1.2rem;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background-color: #e0e0e0;
}
.document-square .zoom-icons i:hover {
  background-color: #f0f0f0;
}
.document-square .document-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  left: -1rem;
  -webkit-transform: translateY(-50%) translateX(-100%);
          transform: translateY(-50%) translateX(-100%);
}
.document-square .document-buttons button {
  margin: 0.5rem 0;
}

@media (max-width: 768px) {
  .document-square {
    margin-top: 60px;
  }
  .document-square .document-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: absolute;
    top: -0.5rem;
    left: 50%;
    -webkit-transform: translateY(-100%) translateX(-50%);
            transform: translateY(-100%) translateX(-50%);
  }
  .document-square .document-buttons button {
    margin: 0 0.5rem;
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
    white-space: nowrap;
  }
}
/* end document page */
/* start page title and header */
.header h1 {
  border-radius: 1.5rem;
}

.page-header {
  text-align: center;
}
.page-header h2 {
  background-color: #ee9e29;
  color: #000;
  display: inline-block;
  padding: 0.5rem 5rem;
  border-radius: 1rem;
  border: 1px solid #b58d5a;
}
.page-header h2 a {
  color: #000;
}
.page-header h4 {
  background-color: #fdceba;
  color: #1f45d1;
  display: inline-block;
  padding: 0.75rem 4rem;
  border-radius: 1rem;
  border: 1px solid #c3bcba;
  margin: 0 0.5rem;
}
.page-header h4 a {
  color: #000;
}

/* end page title and header */
/* start admin page */
.row-title {
  height: 38px;
  border-radius: 0.25rem;
  text-align: center;
  color: #fff;
  font-size: 1.3rem;
  line-height: 38px;
}

@media (max-width: 768px) {
  .row-card {
    margin-bottom: 2rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
  }
  .row-card button,
.row-card input {
    margin-top: 0.5rem;
  }
}
/* end admin page */
/* start table */
table th {
  color: #dc3545;
  vertical-align: middle;
}
table th.the-net {
  width: 100px;
}
table td {
  color: #311ae3 !important;
  vertical-align: middle;
}
table td.deposit {
  color: green !important;
}
table td.payment {
  color: #dc3545 !important;
}

.pagination {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* end table */
/* start translation icon */
i.translation-icon {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 2.5rem;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
i.translation-icon:hover {
  color: #311ae3;
}

/* end translation icon */
.report-container {
  position: relative;
}

.report-operations-icon {
  background: #eee;
  padding: 0.25rem;
  border-radius: 0.25rem;
}
.report-operations-icon ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}
.report-operations-icon ul li {
  color: #444;
  padding: 0.75rem;
  font-size: 0.85rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 0.25rem;
}
.report-operations-icon ul li:hover {
  color: #311ae3;
  background: #e0e0e0;
}

.report-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}
.report-btns button {
  margin: 0 0.5rem;
  background-color: #fdceba;
  color: #1f45d1;
  display: inline-block;
  padding: 0.75rem 4rem;
  border-radius: 0.5rem;
  border: 1px solid #c3bcba;
}

@media (max-width: 575px) {
  .report-btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .report-btns button {
    margin-bottom: 1rem;
  }
}
@media (max-width: 768px) {
  .report-operations-icon {
    background: #eee;
    padding: 0.25rem;
    border-radius: 0.25rem;
  }
  .report-operations-icon ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .report-operations-icon ul li {
    width: 33.33%;
  }
}
/*# sourceMappingURL=style.css.map */
