
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/css/style.css"/>
    <title>Docs Bags - Accounts Report</title>
  </head>
  <body> <i class="fa fa-language translation-icon"></i>
    <div class="text-center my-1 header">
      <h1 class="bg-primary p-2 px-5 text-white d-inline-block">DocBags <small>1.0</small></h1>
    </div>
    <!-- start content-->
    <div class="container">
      <!-- Start Page Title-->
      <div class="page-header mt-1">
        <h2>accounts report </h2>
      </div>
      <!-- End Page Title-->
      <!-- start table-->
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped mt-5">
          <thead>
            <tr>
              <th scope="col">email / account</th>
              <th scope="col">password</th>
              <th scope="col">user / admin</th>
              <th scope="col">last of login</th>
              <th scope="col">no of documents</th>
              <th scope="col">delete</th>
            </tr>
          </thead>
          <tbody>
            {% for login in login_admin %}
            <tr>
              <td>{{login.email}}</td>
              <td>{{login.password}}</td>
              <td>admin</td>
              <td>{{login.last_login}}</td>
              <td>{{login.document}}</td>
              <td>
                <button class="btn btn-sm btn-danger"><i class="fa fa-trash-alt"></i></button>
              </td>
            </tr>
            {% endfor %}
            
          </tbody>
        </table>
      </div>
      <!-- end table-->
    </div>
    <!-- end content-->
    <!-- start navbar-->
    <nav class="custom-navigation-bar">
      <div class="container">
        <ul class="links-list"> 
          <li><a href="/"><i class="fa fa-home"></i> <span>bags website</span></a></li>
          <li><a href="/admins/admin-login"><i class="fa fa-sign-in"></i> <span>login</span></a></li>
          <li><a href="/admins/admin-main"><i class="fa fa-user-cog"></i> <span>admin page</span></a></li>
          <li><a href="/admins/admin-account-report"><i class="fa fa-users"></i> <span>accounts m report</span></a></li>
          <li><a href="/admins/admin-documents-report"><i class="fa fa-file-alt"></i> <span>documnets report</span></a></li>
        </ul>
      </div>
    </nav>
    <!-- end navbar-->
    <!-- start scripts-->
    <script src="https://kit.fontawesome.com/843d6783ff.js" crossorigin="anonymous"> </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>